main {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  text-align: center;
  justify-content: space-around;
  margin: 0 auto;
}

section {
  margin: 1%;
}

img {
  max-width: 100%;
  width: 200px;
  /* margin: 10px; */
}

h3 {
  width: 200px;

}